header {
    background-color: #3f70ab;
    color: white;
}

.menu-btn {
    text-align: center;
    
}

h1 {
    text-align: center;
    
}

nav {
    display: none;
}

main {
    background-color: #808891;
    color: #000;
    text-align: center;
}

.image-container {
    width: 250px;
    height: 250px;
    border: 5px white;
    

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    object-fit: cover;
}

footer {
    text-align: center;
    background-color: #3f70ab;
    color: white;

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
    .menu-btn {
        display: none
    }

    nav {
        display: flex;
        justify-content: center;
    }

    nav a {
        color: white;
        text-decoration: none;
        margin: 0 10px;
    }
}

