header {
    background-color: #3f70ab;
    color: white;
}

.menu-btn {
    text-align: center;
    
}

button {
    font-size: 25px;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 30% 10px;
    color: white;
    background-color: #3f70ab;
    border: none;
}

button:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    
}

nav {
    display: none;
}

main {
    background-color: #808891;
    color: #000;
    text-align: center;
}

h2 {
    padding: 0 auto;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 1rem;
}

.image-container {
    width: 250px;
    height: 250px;
    border: 5px white;
    

    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2), 
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    align-content: center;
}

footer {
    text-align: center;
    background-color: #3f70ab;
    color: white;

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
    .menu-btn {
        display: none
    }

    nav {
        display: flex;
        justify-content: center;
    }

    nav a {
        color: white;
        text-decoration: none;
        margin: 0 10px;
    }
}

